# .gitignore for PAC2200 Monitoring
# Ignore system files, secrets, generated configs, and data volumes

# macOS system files
.DS_Store

# Environment variable file (contains secrets)
.env

# Influx
influxdb-config/
influxdb/
influxdb-init/
influxdb-init.sh

# Telegraf config
!telegraf
telegraf/telegraf.conf

# Ignore all Grafana files except provisioning and dashboards
grafana/*
!grafana/provisioning/
!grafana/provisioning/dashboards/
!grafana/provisioning/dashboards/*.json
!grafana/provisioning/dashboards/*.yaml
!grafana/provisioning/alerting/
!grafana/provisioning/alerting/**

# Alerting rules and contact-points are generated and don't belong in Git:
grafana/provisioning/alerting/power_sum_max_rule.yaml
grafana/provisioning/alerting/power_imbalance_rule.yaml
grafana/provisioning/alerting/contact-points.yaml

grafana/provisioning/datasources/influxdb.yaml

# Python cache
__pycache__/
*.pyc

