# contact-points.yaml.template - Template for Grafana contact points provisioning
# All variables must be replaced by the render script before use

apiVersion: 1

deleteContactPoints:
  - name: email receiver
  
contactPoints:
  - orgId: 1
    name: grafana-default-email
    receivers:
      - uid: email-alerts
        type: email
        settings:
          addresses: "{{ALERT_EMAIL_RECIPIENT}}"
          from_name: "Grafana {{SITE_ID}}"
          subject: "[{{SITE_ID}}] {{ .Title }}"